
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

<title>{% block title %}PureLog{% end %}</title>


<link rel="stylesheet" href="/static/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/combo/1.11.2?/css/main-grid-old-ie.css&/css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/blog.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-med-1-5">
        <div class="header">
            <hgroup>
              <h1 class="brand-title"><a href="/">#{% block title %}PureLog{% end %}</a></h1>
              <br/>
              <h2 class="brand-tagline">Keep it Simple, Stupid.</h2>
            </hgroup>

            <nav class="nav">
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-med-3-4">
        <div>
          {% block content %}
          {% end %}
          <div class="footer">
              <div class="pure-menu pure-menu-horizontal pure-menu-open">
                  <ul>
                      <li><a href="http://reading.huangdx.net">About</a></li>
                      <li><a href="http://weibo.com/c4pt0r/profile">Weibo</a></li>
                      <li><a href="http://twitter.com/c4pt0r">Twitter</a></li>
                      <li><a href="http://github.com/c4pt0r">GitHub</a></li>
                      <li><a href="http://github.com/c4pt0r/purelog">Powered By PureLog</a></li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
</div>


</body>
</html>
