{% extends 'base.html' %}
{% block title %} {{ title }} {% end %}
{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
          <h2 class="post-title"><a href="#"> {{ blog['title'] }} </a></h2>
            <br/>
            <p class="post-meta">
              By <a class="post-author" href=""> {{ blog['author'] }} </a> at {{ datetime.datetime.fromtimestamp(int(blog['create_ts'])) }}
              {% if len(blog['tags']) > 0 %}
                {% for tag in blog['tags']%}
                  {% if len(tag) > 0 %}
                    <a class="post-category post-category-js" href="#">
                      {{ tag }}
                    </a>
                  {% end %}
                {% end %}
              {% end %}
            </p>
        </header>

        <div style="display:none" id="md">{{ blog['content'] }}</div>
        <div class="post-description" id="out">
        </div>
    </section>

  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/pagedown/Markdown.Converter.js"></script>
  <script type="text/javascript" src="/static/pagedown/Markdown.Sanitizer.js"></script>
  <script type="text/javascript" src="/static/pagedown/Markdown.Editor.js"></script>
  <script>
    $(document).ready(function(){
      var converter = new Markdown.Converter();
      var s = converter.makeHtml($('#md').html());
      $('#out').html(s);
    });
  </script>

</div>
{% end %}
